<!DOCTYPE html>
<head>
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='global.css') }}"
		type="text/css" />
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='user.css') }}"
		type="text/css" />
</head>
<body>
<h3><a href={{un}}>{{ un }}</a>/{{ repo }}</h3>
<br>
Stars: {{ o.stargazers_count }}
<br>
Watchers: {{ o.watchers_count }}
<br>
Forks: {{ o.forks_count }}

<br><br>

Description: <i>{{ o.description }}</i><br>

Files: <br>

{% for file in json %}

{% if file.type == "dir" %}

    <p>Directory: {{ file.name }}</p>

{% else %}

    <p><a href={{file.download_url}}>{{ file.name }}</a></p>

{% endif %}

{% endfor %}